@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic|Seaweed+Script);
body {
    background-image: url("../img/diamond_upholstery.png");
    background-repeat: repeat;
}
.header {
    width:100%;
    margin:0px auto;
    height: 120px;
}
.mwrapper {
    width:100%;
}
.menu {
    width:1000px;
    margin:0px auto;
    height: 45px;
    font-family: 'Open Sans', sans-serif;
    background-color:#172A42;
    border-radius: 15px;
}
.menu li {
    margin:0px;
    list-style:none;
}
.menu a {
    transition:all linear 0.15s;
    text-decoration:none;
    color:#FFFFFF;
    font-weight: 300;
}
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#FFF;
}
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:17px;
}
.menu > ul > li > a {
    padding:10px 62px 20px 62px;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#115A8F;
}
.menu li:hover .sub {
    z-index:1;
    opacity:1;
    visibility: visible;
}
.sub {
    width:140%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#F2F2F2;
    visibility: hidden;
}
.sub li {
    display:block;
    font-size:16px;
}
.sub li a {
    padding:10px 30px;
    display:block;
    color: #000;
}
.sub li a:hover, .sub .current-item a {
    background:#115A8F;
    color: #FFF;
    font-weight: 700;
}
.footer {
    width:100%;
    margin:0px auto;
    height: 120px;
    font-family: 'Open Sans', sans-serif;
    background-color:#172A42;
    border-radius: 15px;
}
.cfix:after {
    display:block;
    clear:both;
}
.side-nav {
    float: left;
    width:180px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 70px;
    height: 100%;
    background-color: #EEEEEE;
    border-radius: 15px;
}
.poem {
    float: left;
    width: 435px;
    height: 100%;
    margin-left:10px;
}
.mainCont{
    width:100%;
}
.main {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-10px;
    background-color: #FFF;
    padding: 30px;
}
.poemCon {
    width: 100%;
    height: 100%;
}
.poemCol {
	float:left;
	width: 50%;
    height: 100%;
	display: block;
	padding-bottom:30px;
}
.homeImgCont {
    width: 100%;
    height: 100%;
}
.homeCol {
	float:left;
	width: 50%;
    height: 320px;
	display: block;
	overflow: visible;
	padding-bottom:30px;
}
.caption {
	font-size: 12px;
	font-style: italic;
}
.cclic {
    float:right;
    padding: 50px 30px;
}
.noShowLink {
    text-decoration: none;
}
.title {
	float:left;
	padding-left: 30px;
}
.nameTitle {
	font-family: 'Seaweed Script', cursive;
	font-size: 60px;
	color:#000000;
}
.siteTitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#000000;
}
p, h2, h3 {
    font-family: 'Open Sans', sans-serif;  
}
h2 {
    color:#115A8F;
}
.drop { 
	float: left; 
	color: #115A8F; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia; 
}
.para{
    background-color: #DDDDDD; 
    height:100%;
    width:380px;
    margin-bottom:20px;
    margin-top:20px;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.lineNum {
    background-color:#000000;  
    color: #FFFFFF;
    padding: 2px;
}
.lineContent {
    padding-left: 5px;
}
.line {
    border-bottom: 1px dashed #AAAAAA;
}
table {
    border-collapse: collapse;
}
span.strikeThrough {
    text-decoration: line-through;
}
span.underline {
    text-decoration: underline;
}
span.italic {
    font-style: italic;
}
q.single {
    quotes:'‘' '’'; 
}
q.double {
    quotes:'“' '”'; 
}
.copy {
    float: left;
    width: 720px;
    height: 100%;
    margin-left:10px;
	overflow: visible;
}
.svgHolder {
    float: left;
    width: 720px;
    height: 100%;
    margin-left:10px;
    display: block;
}
.members {
	display: table;
    width: 750px;
    height: 100%;
    margin-bottom: 35px;
}
.memberRow {
	display: table-row;
	height: 100%;
}
.memberPic {
	display: table-cell;
	width: 200px;
	text-align: center;
	background-color: #FFFFFF;
}
.memberBio {
	display: table-cell;
	width: 550px;
	background-color: #DDDDDD;
	border-radius: 15px;
}
.memberName {
	padding: 10px;
	display:block;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.memberBioCopy {
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;

}
.poemImg {
    float: left;
    width: 350px;
    height: 50%;
    padding-top:70px;
}
.content {
    width:100%;
    margin:0px auto;
    overflow: auto;
}
.df16 {
    display: inline;
    background-color: #e51d1d;
    color: #000000;
}
.df16text {
    display: inline;
}
.df6 {
    display: inline;
    background-color: #e51d1d;
    color: #000000;
}
.df6text {
    display: inline;
}
.poems1Toggle {
    display: none;
}
.poems1 {
    display: inline;
    background-color: #FF9900;
    color: #000000;
}
.poems1text {
    display: inline;
}
.poems2Toggle {
    display: none;
}
.poems2 {
    display: inline;
    background-color: #FFFF00;
    color: #000000;
}
.poems2text {
    display: inline;
}
.poems3Toggle {
    display: none;
}
.poems3 {
    display: inline;
    background-color: #ACE500;
    color: #000000;
}
.poems3text {
    display: inline;
}
.fpToggle {
    display: none;
}
.fp {
    display: inline;
    background-color: #00CC00;
    color: #000000;
}
.fptext {
    display: inline;
}
.ceToggle {
    display: none;
}
.ce {
    display: inline;
    background-color: #067ea6;
    color: #000000;
}
.cetext {
    display: inline;
}
.fhToggle {
    display: none;
}
.fh {
    display: inline;
    background-color: #7459f9;
    color: #000000;
}
.fhtext {
    display: inline;
}
.bmToggle {
    display: none;
}
.bm {
    display: inline;
    background-color: #ab40e0;
    color: #000000;
}
.bmtext {
    display: inline;
}
.amToggle {
    display: none;
}
.am {
    display: inline;
    background-color: #ff4dff;
    color: #000000;
}
.amtext {
    display: inline;
}
.lSDToggle {
    display: none;
}
.lSD {
    display: inline;
    background-color: #ff0099;
    color: #000000;
}
.lSDtext {
    display: inline;
}
.LETTERToggle {
    display: none;
}
.LETTER {
    display: inline;
    background-color: #008080;
    color: #000000;
}
.LETTERtext {
    display: inline;
}
.DToggle {
    display: none;
}
.D {
    display: inline;
    background-color: #208642;
    color: #000000;
}
.Dtext {
    display: inline;
}
.CPToggle {
    display: none;
}
.CP {
    display: inline;
    background-color: #c64f13;
    color: #000000;
}
.CPtext {
    display: inline;
}
#df16Map {
    display: block;
}
div#df6Map {
    display: block;
    width: 350px;
}
#poems1Map {
    display: none;
}
#poems2Map {
    display: none;
}
#poems3Map {
    display: none;
}
#fpMap {
    display: none;
}
#ceMap {
    display: none;
}
#fhMap {
    display: none;
}
#bmMap {
    display: none;
}
#amMap {
    display: none;
}
#lSDMap {
    display: none;
}
#LETTERMap {
    display: none;
}
#DMap {
    display: none;
}
#CPMap {
    display: none;
}
.strikethrough {
    text-decoration: line-through;
}
button {
    width: 150px;
    height: 60px;
    border: none;
    color: #FFFFFF;
    border-radius: 15px;
    margin: 10px 15px 10px 15px;
    font-size: 15px;
}
.origXML, .regButton {
    color:#000000;
    text-decoration: none;
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 15px;
    margin: 10px 15px 10px 15px;
    font-size: 15px;
    background-color:#BBBBBB;
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 60px;
}
.origXML:hover, .regButton:hover {
    color:#000000;
    background-color: #a6a6a6;
}
.origImg {
    color:#000000;
}
.df16Key {
    color: #000000;
    background-color: #e51d1d;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.df16Key:hover, .df16KeyON {
    color: #000000;
    background-color: #e61a1a;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 0 rgba(0,0,0,.3); 
    box-shadow: inset 0 0 0 rgba(0,0,0,.3);
}
.df6Key {
    color: #000000;
    background-color: #e51d1d;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.df6Key:hover, .df6KeyON {
    color: #000000;
    background-color: #e61a1a;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 0 rgba(0,0,0,.3); 
    box-shadow: inset 0 0 0 rgba(0,0,0,.3);
}
.poems1Key {
    color: #000000;
    background-color: #FF9900;
}
.poems1Key:hover, .poems1KeyON {
    color: #000000;
    background-color: #C87800;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.poems2Key {
    background-color: #FFFF00;
    color: #000000;
}
.poems2Key:hover, .poems2KeyON {
    background-color: #C8C800;
    color: #000000;
     -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.poems3Key {
    background-color: #ACE500;
    color: #000000;
}
.poems3Key:hover, .poems3KeyON {
    color: #000000;
    background-color: #87B400;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.fpKey {
    color: #000000;
    background-color: #00CC00;
}
.fpKey:hover, .fpKeyON {
    color: #000000;
    background-color: #00A000;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.ceKey {
    color: #000000;
    background-color: #0099CC;
}
.ceKey:hover, .ceKeyON {
    color: #000000;
    background-color: #067ea6;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.fhKey {
    color: #000000;
    background-color: #7357ff;
}
.fhKey:hover, .fhKeyON {
    color: #000000;
    background-color: #7459f9;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.bmKey {
    color: #000000;
    background-color: #ab40e0;
}
.bmKey:hover, .bmKeyON {
    color: #000000;
    background-color: #b129f5;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.amKey {
    color: #000000;
    background-color: #ff4dff;
}
.amKey:hover, .amKeyON {
    color: #000000;
    background-color: #e60086;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.lSDKey {
    color: #000000;
    background-color: #ff0099;
}
.lSDKey:hover, .lSDKeyON {
    color: #000000;
    background-color: #EC008C;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.LETTERKey {
    color: #000000;
    background-color: #008080;
}
.LETTERKey:hover, .LETTERKeyON {
    color: #000000;
    background-color: #004d4d;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.DKey {
    color: #000000;
    background-color: #208642;
}
.DKey:hover, .DKeyON {
    color: #000000;
    background-color: #368350;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.CPKey {
    color: #000000;
    background-color: #e64d00;
}
.CPKey:hover, .CPKeyON {
    color: #000000;
    background-color: #c64f13;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.3); 
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.var {
    background-color: #767676;
    color: #FFFFFF;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}
.close {
    color: #999999;
    float: right;
    font-size: 60px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #172A42;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.modal-header h2 {
    color: white;
}
.modal-body {
    padding: 2px 16px;   
}
.modal-content {
    position: relative;
    background-color: #FFFFFF;
    margin: 250px auto;
    padding: 0;
    width: 1000px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    height: 450px;
}
.modalImgCont {
    margin: 5px;
    border: 3px solid #000000;
    height: 275px;
    float: left;
    width: 120px;
    border-radius: 10px;
}
.modalImgCont:hover {
    border: 3px solid #CCCCCC;
}
.modalImgCont img {
    width: 100%;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modalDesc {
    padding: 15px;
    text-align: center;
}
.instruct {
	font-size: 10px;
	padding: 20px;
}